@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-montserrat: var(--font-montserrat);
  --font-space-grotesk: var(--font-space-grotesk);
  --button-bg: rgba(70, 184, 134, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    /* --foreground: #ededed; */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  /* background: linear-gradient(72.44deg, #EFFAF4 0%, #D7F4E3 2.49%, #F0F9F5 48.99%, #DBF0E5 98.6%, #EFFAF4 100%); */
  /* color: var(--foreground); */
  font-family: var(--font-space-grotesk), sans-serif;
  min-height: 100vh;
}

.hover-button-bg:hover {
  color: var(--button-bg);
}

